<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="Host" value="smtp.gmail.com" />
    <add key="EnableSsl" value="true" />
    <add key="UserName" value="vinaheo1407@gmail.com" />
    <add key="Password" value="casionokia" />
    <add key="Port" value="587" />
    <add key="TimerStartTime" value="02:00:00 PM" />
    <add key="TimerIntervalInMilliseconds" value="3000000" />
    <add key="MailReminder" value="D:/API_aspnet/QLCV/QLCV/QLCV/Views/MailTemplate/MailReminder.html" />
    <add key="PermissionError" value="Lỗi phân quyền"/>
    <add key="DatabaseError" value="Lỗi ở cơ sở dữ liệu"/>
    <add key="LoginError" value="Sai thông tin đăng nhập"/>
    <add key="AccountDisable" value="Tài khoản đã bị khóa"/>
    <add key="PasswordDefault" value="123"/>
    <add key="OldPasswordWrong" value="Sai mật khẩu cũ"/>
    <add key="NewPasswordMatch" value="Mật khẩu mới không trùng khớp"/>
    <add key="ChangePasswordSuccess" value="Đổi mật khẩu thành công"/>
    <add key="MailInsertTaskSubject" value="Bạn có công việc mới được phân công"/>
    <add key="MailReminderSubject" value="Nhắc nhở công việc"/>
    <add key="MailUpdateTask" value="Công việc có sự thay đổi"/>
    <add key="FolderUpload" value="D:\Upload\"/>
  </appSettings>
  <system.web>
    <compilation targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <globalization uiCulture="en" culture="en-GB" />
    <!--<customErrors mode="On" defaultRedirect="~/Error.html">
      <error statusCode="404" redirect="~/Error.html" />
    </customErrors>-->
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <!--<add name="QLCVEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=210.245.20.223;initial catalog=QLCV;user id=ubqlcv;password=P@ssw0rd1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="QLCVEntities" connectionString="metadata=res://*/DBModel.csdl|res://*/DBModel.ssdl|res://*/DBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=QUANVMHSE61002\SQLEXPRESS;initial catalog=QLCV;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="QLCVEntities" connectionString="metadata=res://*/DBModel.csdl|res://*/DBModel.ssdl|res://*/DBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=210.245.20.223;initial catalog=QLCV;user id=ubqlcv;password=P@ssw0rd1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>