@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        Có lỗi phát sinh
        <a href="@ViewBag.URL">Quay trở về trang trước</a>
    </div>
</body>
</html>
